@font-face {
  font-family: 'Melodrama';
  src: url('/TIPOGRAFIAS/Melodrama-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Melodrama';
  src: url('/TIPOGRAFIAS/Melodrama-Regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Melodrama';
  src: url('/TIPOGRAFIAS/Melodrama-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Melodrama';
  src: url('/TIPOGRAFIAS/Melodrama-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Melodrama';
  src: url('/TIPOGRAFIAS/Melodrama-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Melodrama", sans-serif;
}

.header {
  background-color: transparent;
  border: solid 1px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 50%;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.title-mobile {
  display: none;
}

.log-adfenesa {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 120px;
}


.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 20px 20px;
}

.header .nav-links a {
  font-size: 30px;
  font-weight: 500;
  color: #5C1200;
  text-decoration: none;
}

.header .nav-links a:hover {
  transition: color 0.5s ease;
  color: #D73300;
}

.presentacion {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title{
  position: absolute;
  top: 0px;
  font-size: 300px;
  color: #D73300;
}

.modelo{
  height: 550px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}